html 
  head 
    title= 'Products'
    link(rel="stylesheet", href="style.css")
  body 
      each product in products
        div 
          h1= product.title 
          h2= product.price 
          p=  product.description